---
import DashLayout2 from "src/layouts/DashLayout2.astro";
import CTA from "@components/CTA.astro";
import FAQ from "@components/FAQ.astro";

// Optimize our landing image and pass it as props to the BaseLayout (for preloading) and Landing (for rendering)
import {getOptimizedImage} from "@js/utils"
import landingImage from "@assets/images/landing.jpg" // <-- THE PATH TO THE ASSET YOU WANT TO PRELOAD - The asset must live in src
const optimizedImage = await getOptimizedImage(landingImage)




---

<DashLayout2
title="Business Info"
  description="We Specialise In Service Based Websites"
  preloadedImage = {optimizedImage}>


<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->
<section id="contact-2061">
  <div class="cs-container">
      <div class="cs-content">
          <span class="cs-topper">Business Info</span>
          <h2 class="cs-title">Simply Complete Your Form</h2>
          <p class="cs-text">The more details you provide, the easier it will be for us to create a website that fits your business perfectly.<br> For questions that don’t apply to you, simply write 'N/A.'</p>
      </div>
      <!-- Netlify Form -->
      <form class="cs-form" id="cs-form-2061" name="business-info" method="POST" action="/thankyou" data-netlify="true">
          <!-- Hidden form-name field for Netlify -->
          <input type="hidden" name="form-name" value="business-info" />

          <label class="cs-label cs-split">
              First Name *
              <input class="cs-input" required type="text" id="first-name-2061" name="first-name">
          </label>
          <label class="cs-label cs-split">
              Last Name *
              <input class="cs-input" required type="text" id="last-name-2061" name="last-name">
          </label>
          <label class="cs-label">
              Home Address & Postcode
              <input class="cs-input" type="text" id="address-2061" name="address">
          </label>
          <label class="cs-label cs-split">
              Business Name *
              <input class="cs-input" required type="text" id="business-name-2061" name="business-name">
          </label>
          <label class="cs-label cs-split">
              Business Email *
              <input class="cs-input" required type="email" id="email-2061" name="email">
          </label>
          <label class="cs-label">
              Business Phone
              <input class="cs-input" type="text" id="phone-2061" name="business-phone">
          </label>
          <label class="cs-label">
              Business Address - If different *
              <input class="cs-input" type="text" id="business-address-2061" name="business-address">
          </label>
          <label class="cs-label cs-split">
              Domain Name You'd Like to Use * 
              <input class="cs-input" required type="text" id="domain-name-2061" name="domain-name">
          </label>
          <label class="cs-label cs-split">
              Do You Own the Domain Already? *
              <input class="cs-input" required type="text" id="domain-owned-2061" name="domain-owned">
          </label>
          <label class="cs-label">
              If yes, who is your domain registrar? *
              <input class="cs-input" type="text" id="domain-registrar-2061" name="domain-registrar">
          </label>
          <label class="cs-label">
              List Your Main Services - Start with Best-Selling *
              <input class="cs-input" type="text" id="main-services-2061" name="main-services">
          </label>
          <label class="cs-label cs-message">
              Tell us about your business story, experience, and what you're passionate about. *
              <textarea class="cs-input cs-textarea" id="business-story-2061" name="business-story"></textarea>
          </label>
          <label class="cs-label">
              Do you have stats or accomplishments you'd like highlighted? *
              <input class="cs-input" type="text" id="stats-2061" name="stats">
          </label>
          <label class="cs-label">
              Name the cities or towns to target for SEO. *
              <input class="cs-input" type="text" id="seo-target-2061" name="seo-target">
          </label>
          <label class="cs-label">
              What makes your business stand out? *
              <input class="cs-input" type="text" id="business-standout-2061" name="business-standout">
          </label>
          <label class="cs-label cs-message">
              Please provide your social media links, or write 'N/A' if you don’t have any. *
              <textarea class="cs-input cs-textarea" id="social-media-2061" name="social-media"></textarea>
          </label>
          <label class="cs-label cs-message">
              Share any customer reviews or links to them here, or write 'N/A' if unavailable. *
              <textarea class="cs-input cs-textarea" id="customer-reviews-2061" name="customer-reviews"></textarea>
          </label>
          <label class="cs-label cs-split">
              Do you have a Logo? *
              <input class="cs-input" required type="text" id="logo-2061" name="logo">
          </label>
          <label class="cs-label cs-split">
              If Not, Would You Like One Created For £150? *
              <input class="cs-input" required type="text" id="logo-creation-2061" name="logo-creation">
          </label>
          <label class="cs-label">
              How did you hear about us? *
              <input class="cs-input" type="text" id="referral-2061" name="referral">
          </label>
          <div class="cs-wrapper">
              <button class="cs-button-solid cs-submit" type="submit">Submit</button>
          </div>
      </form>
  </div>
  <img class="cs-graphic cs-graphic-left" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/dental-drop-green.svg" alt="drop" width="528" height="830" aria-hidden="true" decoding="async">
  <img class="cs-graphic cs-graphic-right" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/dental-drop-blue.svg" alt="drop" width="528" height="830" aria-hidden="true" decoding="async">
</section>

      

<style>
    /*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #contact-2061 {
    margin-top: 6rem;
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
  }
  #contact-2061 .cs-container {
    width: 100%;
    max-width: 59rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }
  #contact-2061 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #contact-2061 .cs-text {
    max-width: none;
  }
  #contact-2061 .cs-form {
    width: 100%;
    /* 464px - 846px */
    max-width: clamp(29rem, 59vw, 52.875rem);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0.75rem;
  }
  #contact-2061 .cs-label {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    grid-column: span 12;
    gap: 0.5rem;
  }
  #contact-2061 .cs-input {
    font-family: inherit;
    font-size: 1rem;
    width: 100%;
    height: 3.5rem;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    padding-left: 1.5rem;
    background-color: #f7f7f7;
    color: var(--bodyTextColor);
    border: none;
    border-radius: 0.5rem;
  }
  #contact-2061 .cs-select,
  #contact-2061 .cs-date {
    /* as the select arrow/date calendar icon are not affected by padding, we can use a transparent border on the select element to pad the arrow as much as we need */
    border-right: 1.5rem solid rgba(0, 0, 0, 0);
  }
  #contact-2061 .cs-textarea {
    height: 7.5rem;
    margin-bottom: 2rem;
    padding-top: 1rem;
  }
  #contact-2061 .cs-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    grid-column: span 12;
  }
  #contact-2061 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 2rem;
    background-color: var(--primary);
    color: #fff;
    border-radius: 0.5rem;
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  #contact-2061 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #contact-2061 .cs-button-solid:hover:before {
    width: 100%;
  }
  #contact-2061 .cs-submit {
    border: none;
  }
  #contact-2061 .cs-submit:hover {
    cursor: pointer;
  }
  #contact-2061 .cs-graphic {
    display: none;
    position: absolute;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #contact-2061 .cs-split {
    grid-column: span 6;
  }
  #contact-2061 .cs-graphic {
    display: block;
  }
  #contact-2061 .cs-graphic-left {
    width: 33rem;
    height: auto;
    bottom: -6.6875rem;
    left: -24.5625rem;
  }
  #contact-2061 .cs-graphic-right {
    width: 30.1875rem;
    height: auto;
    top: -2.125rem;
    right: -19.75rem;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #contact-2061 .cs-graphic-left {
    right: -20.1875rem;
    bottom: -3.25rem;
  }
  #contact-2061 .cs-graphic-right {
    right: -18.125rem;
  }
}
/* Large Desktop - 1920px */
@media only screen and (min-width: 120rem) {
  #contact-2061 .cs-graphic-left {
    margin-right: 47.5rem;
    right: 50%;
    bottom: 0;
    left: initial;
  }
  #contact-2061 .cs-graphic-right {
    margin-left: 48.4375rem;
    right: initial;
    left: 50%;
  }
}
                                
</style>



</DashLayout2>







