---
import BaseLayout from "src/layouts/BaseLayout.astro";
import CTA from "@components/CTA.astro";
import FAQ from "@components/FAQ.astro";

// Optimize our landing image and pass it as props to the BaseLayout (for preloading) and Landing (for rendering)
import {getOptimizedImage} from "@js/utils"
import landingImage from "@assets/images/landing.jpg" // <-- THE PATH TO THE ASSET YOU WANT TO PRELOAD - The asset must live in src
const optimizedImage = await getOptimizedImage(landingImage)


---

<BaseLayout
  title="True Sign Design"
  description="We Specialise In Service Based Websites"
  preloadedImage = {optimizedImage}
  

>


<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1950">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">We Specialise In <span class="span-service">Service</span> Websites</h1>
            <div class="cs-flex-group">
                <p class="cs-text">
                    <span class="cs-tick">&#10003;</span> Grow Your Reach - Gain Clients<br>
                    <span class="cs-tick">&#10003;</span> Trades-Health-Cleaning & More<br>
                    <span class="cs-tick">&#10003;</span> 30 Days Money-Back Guarantee <span class="hidden-text">sldj fkklsd jflksdj</span>

                    
                </p>
                <a href="/contact" class="cs-button-solid">Start Your Website</a>
            </div>
        </div>
    </div>

    <!-- Background Image, there's a background image in the CSS for the parallax effect you'll need to change as well if you swap out our images -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/background-photo.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/background-photo.jpg">
        <img decoding="async" src="/assets/images/background-photo.jpg" alt="restaurant" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>


<style>
    /*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-1950 {
    min-height: 100dvh;
    /* 200px - 300px top */
    /* 60px - 100px bottom */
    padding: clamp(12.5rem, 12vw, 18.75rem) 1rem clamp(3.75rem, 8vw, 6.25rem) 1rem;
    display: flex;
    align-items: flex-end;
    position: relative;
    z-index: 1;
  }

  .hidden-text {
    
    opacity: 0;
}

.cs-tick {
    color: #EC9C52;
}

@media only screen and (max-width: 768px) {
    .hidden-text {
        display: none;
    }
}


  


  .span-service {
    color: #EC9C52;
    font-family: 'Penelope', sans-serif ;
    
  }
  #hero-1950 .cs-container {
    width: 100%;
    max-width: 85.5625rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    /* 60px - 180px */
    gap: clamp(3.75rem, 13vw, 11.25rem);
  }
  #hero-1950 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #hero-1950 .cs-title {
    /* 39px - 61px */
    font-size: clamp(2.4375rem, 5vw, 4.2125rem);
    margin-bottom: 1.75rem;
    color: #fff;
  }
  #hero-1950 .cs-text {
    /* 16px - 20px */
    font-size: clamp(1rem, 2vw, 1.25rem);
    margin-bottom: 1.25rem;
    color: #fff;
    opacity: 0.8;
  }
  #hero-1950 .cs-flex-group {
    max-width: 30rem;
  }
  #hero-1950 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    margin: 0;
    /* 32px - 48px */
    padding: 0 clamp(1rem, 4vw, 2rem);
    background-color: var(--primary);
    color: #fff;
    display: inline-block;
    position: relative;
    z-index: 1;
    border-radius: 1rem;
  }
  #hero-1950 .cs-button-solid:before {
    content: '';
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
    border-radius: 1rem;
  }
  #hero-1950 .cs-button-solid:hover:before {
    width: 100%;
    border-radius: 1rem;
  }
  #hero-1950 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }
  #hero-1950 .cs-background:before {
    /* Overlay */
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(26, 26, 26, 0.86) 10.79%, rgba(26, 26, 26, 0) 30.32%, rgba(26, 26, 26, 0.86) 55.84%);
    /* prevents the cursor from interacting with it */
    pointer-events: none;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #hero-1950 .cs-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    object-position: 51% center; /* Adjust the position of the image inside the picture */

  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero-1950 .cs-content {
    text-align: left;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 2rem;
    


  }
  #hero-1950 .cs-title {
    width: 55%;
    max-width: 39.375rem;
    margin-bottom: 0;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #hero-1950 .cs-flex-group {
    max-width: 30rem;
  }
}
/* Large Desktop Parallax Effect - 100px */
@media only screen and (min-width: 100rem) {
  #hero-1950 .cs-background {
    background: url("/assets/images/hero-building-v2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* creates the parallax effect */
    background-attachment: fixed;
  }

  
  #hero-1950 .cs-background img {
    display: none;
  }
}
                                
</style>

    
<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1628">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Our Services</span>
                <h2 class="cs-title">Your Guiding Sign For Success</h2>
            </div>
            <p class="cs-text">
                At True Sign Design, we give small-to-medium-sized businesses an edge with fully custom websites built for performance. By steering clear of page builders like Wordpress, we eliminate the usual headaches, no slow load times, security risks, or constant upkeep. Paired with our unlimited edits service, you get ongoing flexibility and peace of mind, so you can focus on growing your business while we handle the rest.
            </p>
        </div>                  
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="/contact" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/custom-code.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/custom-code.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/custom-code.jpg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">Custom Coded With Top Page Speed Scores</h3>
                    <p class="cs-item-text">
                        If your site takes more than 3 seconds to load you can lose up to 50% of your traffic. Our sites take one second ensuring clients stay engaged.
                    </p>
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="/contact" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="https://images.unsplash.com/photo-1579389083395-4507e98b5e67?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="https://images.unsplash.com/photo-1579389083395-4507e98b5e67?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                        <img loading="lazy" decoding="async" src="https://images.unsplash.com/photo-1579389083395-4507e98b5e67?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">Unlimited Support, Edits And Maintenance</h3>
                    <p class="cs-item-text">
                        Need an image replaced or a service updated? Contact us and and we'll reoptimise it for Google without issue.
                    </p>
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="/contact" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/checkout.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/checkout.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/checkout.jpg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">Monthly Payment, No Upfront Costs </h3>
                    <p class="cs-item-text">
                        We believe our services should be available to everyone, allowing business owners to experience our value without worrying about high costs.
                    </p>
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="/contact" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="https://images.unsplash.com/photo-1550082094-8e76633b0ab9?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="https://images.unsplash.com/photo-1550082094-8e76633b0ab9?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                        <img loading="lazy" decoding="async" src="https://images.unsplash.com/photo-1550082094-8e76633b0ab9?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">A Free Website Redesign Every 3 Years</h3>
                    <p class="cs-item-text">
                        We make sure you're well cared for with a free redesign every 3 years, keeping it fresh for your business.</p>
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
        </ul>
    </div>
</section>
                                

<style>
    /*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-1628 {
    padding: var(--sectionPadding);
    background-color: #f7f7f7;
  }
  #services-1628 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375em;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-1628 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #services-1628 .cs-title {
    max-width: 20ch;
    font-weight:700 !important;
    
    
  }
  #services-1628 .cs-text {
    max-width: 40rem;
    position: relative;
    z-index: 1;
  }
  #services-1628 .cs-text:after {
    /* divider line */
    content: "";
    width: 100%;
    height: 1px;
    margin-top: 1.5rem;
    background: var(--primary);
    opacity: 1;
    display: block;
    position: relative;
  }
  #services-1628 .cs-chevron {
    --chevronColor: var(--primary);
    width: 3rem;
    height: auto;
  }
  #services-1628 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    column-gap: clamp(1rem, 2.5vw, 1.25rem);
    /* 28px - 40px */
    row-gap: clamp(1.75rem, 2.5vw, 2.5rem);
  }
  #services-1628 .cs-item {
    list-style: none;
    width: 100%;
    display: flex;
    grid-column: span 12;
    flex-direction: column;
    align-items: flex-start;
  }
  #services-1628 .cs-item:hover .cs-picture img {
    opacity: .5;
    transform: scale(1.2);
  }
  #services-1628 .cs-link {
    text-decoration: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #services-1628 .cs-picture {
    width: 100%;
    height: 15rem;
    margin-bottom: 1.5rem;
    background-color: #000;
    overflow: hidden;
    display: block;
    position: relative;
    
  }
  #services-1628 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform .6s, opacity .3s;
    
    
  }


  #services-1628 .cs-item:nth-child(1) .cs-picture img {
    object-position: 0% 20%; /* Adjust horizontally (10%) and vertically (20%) */
  }

  #services-1628 .cs-item:nth-child(2) .cs-picture img {
    object-position: top; /* Move the second image to the bottom right */
  }

  #services-1628 .cs-item:nth-child(3) .cs-picture img {
    object-position: center center; /* Move the third image to the center */
  }

  #services-1628 .cs-item:nth-child(4) .cs-picture img {
    object-position: top center; /* Move the fourth image to the top center */
  }


  #services-1628 .cs-h3 {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 600 !important;
    text-align: left;
    margin: 0 0 0.75rem 0;
    color: var(--headerColor);
  }
  #services-1628 .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    text-align: left;
    margin: 0 0 1.5rem 0;
    color: var(--bodyTextColor);
  }
  #services-1628 .cs-fake-link {
    font-size: 1rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    margin-top: auto;
    color: var(--primary);
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
  }
  #services-1628 .cs-fake-link:hover .cs-icon {
    transform: translateX(0.5rem);
  }
  #services-1628 .cs-icon {
    width: 1.25rem;
    height: auto;
    display: block;
    transition: transform .3s;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-1628 .cs-container {
    max-width: 80rem;
  }
  #services-1628 .cs-content {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #services-1628 .cs-flex {
    text-align: left;
    width: 40vw;
    max-width: 40rem;
    flex: none;
  }
  #services-1628 .cs-title {
    margin: 0;
    
  }
  #services-1628 .cs-text {
    padding: 0.75rem 0 0.75rem 1.5rem;
  }
  #services-1628 .cs-text:after {
    width: 1px;
    height: 100%;
    margin: 0 1.5rem 0 0;
    order: -1;
    position: absolute;
    left: 0;
    top: 0;
  }
  #services-1628 .cs-item {
    grid-column: span 6;
  }
  #services-1628 .cs-picture {
    /* 240px - 420px */
    height: clamp(15rem, 33vw, 26.25rem);
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #services-1628 .cs-item {
    grid-column: span 3;
  }
}
                                
</style>
    


<!-- ============================================ -->
<!--                 What We Offer              -->
<!-- ============================================ -->

<section id="sbs-1585"> 
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/offer-photo.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/offer-photo.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/offer-photo.jpg" alt="models" width="586" height="690">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">What We Offer</span>
            <h2 class="cs-title">Everything Your Business Needs in One Plan</h2>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <div class="wrapper">
                        <span class="cs-item-number">01</span>
                        <h3 class="cs-h3">
                            100% Page Speed
                        </h3>
                    </div>
                    <p class="cs-item-text">
                        Our hand-coded websites load fast, achieving Google speed scores that bring more visitors to your site.
                    </p>
                </li>
                <li class="cs-item">
                    <div class="wrapper">
                        <span class="cs-item-number">02</span>
                        <h3 class="cs-h3">
                            Designed For You
                        </h3>
                    </div>
                    <p class="cs-item-text">
                        Your website is uniquely crafted to match your brand and goals, helping your business stand out from the competition.
                    </p>
                </li>
                <li class="cs-item">
                    <div class="wrapper">
                        <span class="cs-item-number">03</span>
                        <h3 class="cs-h3">
                            Unlimited On Page Edits
                        </h3>
                    </div>
                    <p class="cs-item-text">
                        If you need to change a photo or update some information, we'll take care of it for you and make sure its fully optimised for search engines.
                    </p>
                </li>
                <li class="cs-item">
                    <div class="wrapper">
                        <span class="cs-item-number">04</span>
                        <h3 class="cs-h3">
                        Hosting & Security
                        </h3>
                    </div>
                    <p class="cs-item-text">
                        We handle hosting, backups, and security, making sure everything stays secure and runs smoothly without you having to worry.
                    </p>
                </li>
                <li class="cs-item">
                    <div class="wrapper">
                        <span class="cs-item-number">05</span>
                        <h3 class="cs-h3">
                            SEO That Works
                        </h3>
                    </div>
                    <p class="cs-item-text">
                        We optimize your website with on-page SEO, using meta tags and effective structures to increase your visibility and bring in more customers.
                    </p>
                </li>
                <li class="cs-item">
                    <div class="wrapper">
                        <span class="cs-item-number">06</span>
                        <h3 class="cs-h3">
                        Here To Help
                        </h3>
                    </div>
                    <p class="cs-item-text">
                        You’ll always have access to someone who knows your website inside out and can help you with any questions or issues.
                    </p>
                </li>
            </ul>
            <a href="/pricing" class="cs-button-solid">Pricing</a>
        </div>
    </div>

    <!-- Shape Divider -->
    
</section>

<style>
    /*-- -------------------------- -->
    <!--        Side By Side        -->
    <!-- -------------------------- -*/

 /* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-1585 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;
        background-color: #ffffff;
    }

    #sbs-1585:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
        background-repeat: repeat;
        background-size: auto;
        filter: blur(1px);
        z-index: -1;
        opacity: 1;
        pointer-events: none;
    }

    #sbs-1585 .cs-container {
        width: 100%;
        max-width: 36.5rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: clamp(2.5rem, 6vw, 4rem);
    }

    #sbs-1585 .cs-picture {
        width: 100%;
        height: clamp(25rem, 80vw, 47rem);
        display: block;
        position: relative;
        overflow: hidden; /* Prevents image overflow */
        
    }

    #sbs-1585 .cs-picture img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; /* Ensures the image fills the width */
        height: 100%; /* Ensures the image fills the height */
        object-fit: cover; /* Makes the image perfectly fit the container */
        object-position: center; /* Centers the image within the container */
        border-radius: 1rem; /* Keeps the rounded corners */
    }

    #sbs-1585 .cs-content {
        text-align: left;
        width: 100%;
        max-width: 39.375rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    #sbs-1585 .cs-title {
        max-width: 26ch;
        margin: 0;
    }

    #sbs-1585 .cs-card-group {
        width: 100%;
        max-width: clamp(34.375rem, 50vw, 39.375rem);
        padding: 0;
        margin: clamp(1.5rem, 4vw, 2.5rem) 0;
        display: grid;
        align-items: center;
        gap: clamp(1rem, 4vw, 2.5rem);
    }

    #sbs-1585 .cs-item {
        list-style: none;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.75rem;
    }

    #sbs-1585 .wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 0.625rem;
    }

    #sbs-1585 .cs-item-number {
        font-size: 1.25rem;
        line-height: 1.2em;
        font-weight: 700;
        margin: 0;
        color: var(--primary);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;
    }

    #sbs-1585 .cs-h3 {
        font-size: 1.25rem;
        line-height: 1.2em;
        font-weight: 700;
        margin: 0;
        color: var(--headerColor);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;
    }

    #sbs-1585 .cs-item-text {
        font-size: 1rem;
        line-height: 1.5em;
        margin: 0;
        color: var(--bodyTextColor);
    }

    #sbs-1585 .cs-button-solid {
        font-size: 1rem;
        line-height: 3.5em;
        text-decoration: none;
        font-weight: 700;
        overflow: hidden;
        width: auto;
        margin: 0;
        color: #fff;
        padding: 0 3rem;
        background-color: var(--primary);
        display: inline-block;
        position: relative;
        z-index: 1;
        transition: color 0.3s;
    }

    #sbs-1585 .cs-button-solid:before {
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 0%;
        background: #1a1a1a;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
    }

    #sbs-1585 .cs-button-solid:hover {
        color: var(--primary);
    }

    #sbs-1585 .cs-button-solid:hover:before {
        width: 100%;
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbs-1585 .cs-container {
        max-width: 80rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }

    #sbs-1585 .cs-content {
        width: 50%;
        max-width: 39.375rem;
        flex: none;
    }

    #sbs-1585 .cs-card-group {
        grid-template-columns: repeat(12, 1fr);
    }

    #sbs-1585 .cs-item {
        grid-column: span 6;
    }

    #sbs-1585 .cs-picture {
        height: auto;
        min-height: 32.8125rem;
        order: 2;
        overflow: hidden; /* Ensures no overflow */
    }

    #sbs-1585 .cs-picture img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        border-radius: 1rem;
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-1585 .cs-content {
        padding: 5.25rem 0;
        align-self: center;
    }

    
}

</style>



<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-2198">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Portfolio </span>
            <h2 class="cs-title">Find Our Latest Work Here</h2>
        </div>                  
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="https://zhroofing.com/" class="cs-link" target="_blank">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/home-mockup-1.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/home-mockup-1.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/home-mockup-1.jpg" alt="wedding photography" width="413" height="340">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">ZH Roofing</h3>
                        <span class="cs-number">01</span>
                    </div>
                    <p class="cs-item-text">
                        ZH Roofing wanted a site to match their reputation for reliability. We designed a professional platform that showcases their roofing services effectively.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="https://dentiview.org/" class="cs-link" target="_blank">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/home-mockup-2.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/home-mockup-2.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/home-mockup-2.jpg" alt="wedding photography" width="413" height="340">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">DentiView</h3>
                        <span class="cs-number">02</span>
                    </div>
                    <p class="cs-item-text">
                        DentiView needed a clean and modern website to reflect their dental expertise. Our design focuses on professionalism and patient trust.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="https://golfgreeners.com/" class="cs-link" target="_blank">

                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/home-mockup-3.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/home-mockup-3.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/home-mockup-3.jpg" alt="wedding photography" width="413" height="340">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Golf Greeners</h3>
                        <span class="cs-number">03</span>
                    </div>
                    <p class="cs-item-text">
                        Golf Greeners aimed to draw more players to their course. We built a site that highlights their facilities and love for the game.
                    </p>
                </a>
            </li>
        </ul>
    </div>
</section>
                                

<style>
    /*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-2198 {
    padding: var(--sectionPadding);
    background-color: #FDFAF8;
    position: relative;
  }
  #services-2198 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 44rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-2198 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #services-2198 .cs-title {
    margin: 0;
  }
  #services-2198 .cs-card-group {
    width: 100%;
    max-width: 25rem;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 2rem;
  }
  #services-2198 .cs-item {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-column: span 12;
  }
  #services-2198 .cs-item:hover .cs-picture:before {
    background-color: var(--primary);
  }
  #services-2198 .cs-item:hover .cs-picture img {
    opacity: 0.3;
  }
  #services-2198 .cs-link {
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #services-2198 .cs-picture {
    width: 100%;
    /* 240px - 340px */
    height: clamp(15rem, 30vw, 21.25rem);
    margin-bottom: 2.75rem;
    background-color: #000;
    display: flex;
    justify-content: center;
    position: relative;
  }
  #services-2198 .cs-picture::before {
    content: "";
    width: 100%;
    height: 1.25rem;
    margin: 0 2rem;
    
    display: block;
    position: relative;
    top: 100%;
    bottom: 0;
    z-index: 10;
    transition: background-color 0.3s;
  }
  #services-2198 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.6s, opacity 0.3s;
  }
  #services-2198 .cs-flex {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  #services-2198 .cs-number {
    /* 49px - 72px */
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    margin: 0;
    color: var(--primary);
    opacity: 0.2;
    position: absolute;
    z-index: 0;
  }
  #services-2198 .cs-h3 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
    margin: 0 0 1.25rem 0;
    color: var(--headerColor);
    z-index: 1;
  }
  #services-2198 .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-2198 .cs-container {
    max-width: 80rem;
  }
  #services-2198 .cs-card-group {
    max-width: none;
    /* 16px - 20px */
    column-gap: clamp(1rem, 2.5vw, 1.25rem);
  }
  #services-2198 .cs-item {
    grid-column: span 4;
  }
  #services-2198 .cs-picture {
    margin-bottom: 3.25rem;
  }
}
                                
</style>

<!-- ============================================ -->
<!--              Side By Side Reverse            -->
<!-- ============================================ -->

<section id="sbsr-522">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Performance - SEO</span>
            <h2 class="cs-title">Faster Than Any Web Page Builder</h2>
            <!-- Added cs-subtitle class to make it a subtitle -->
            <p class="cs-text cs-subtitle">
                Why is this Important?
            </p>
            <p class="cs-text">
                When two similar sites compete, Google favors the faster one. <br>Google prioritizes & ranks them higher than slower web page builders like Wordpress, which can often score around 40-50/100 on Google's Page Speed Score.
            </p>

            <p class="cs-text">
                Our hand-coded design is fully optimized to score 90 - 100/100, keeping your business a step ahead of the competition.
            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" src="/assets/images/arrow-up.png" loading="lazy" decoding="async" alt="Shield Icon" width="40" height="40">
                    Quick sites boost SEO and Google Ads results

                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" src="/assets/images/visitor.png" loading="lazy" decoding="async" alt="Pencil Icon" width="40" height="40">
                    Faster load times bring more visitors and conversions
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" src="/assets/images/fast-site.png" loading="lazy" decoding="async" alt="Hat Icon" width="40" height="40">
                    Our sites load in under a second, improving user experience and sales
                </li>
            </ul>
            <a href="/why-us" class="cs-button-solid">Learn More</a>
        </div>
        <!-- Image Group -->
        <div class="cs-image-group">
            <ul class="cs-stat-group">
                <li class="cs-stat">
                    <span class="cs-number">100%</span>
                    <span class="cs-desc">Satisfaction Guarantee &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                </li>
                <li class="cs-stat">
                    <span class="cs-number">100</span>
                    <span class="cs-desc">Page Speed Score &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </span>
                </li>
                <li class="cs-stat">
                    <span class="cs-number">5/5</span>
                    <span class="cs-desc">Google Reviews</span>
                </li>
            </ul>
            <!-- Picture -->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/pagespeed-score.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/pagespeed-score.jpg">
                <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/pagespeed-score.jpg" alt="Lightbulbs" width="630" height="461">
            </picture>
        </div>
    </div>
</section>

                                

<style>
    /*----------------------------------*/
/*         Side By Side Reverse      */
/*----------------------------------*/

/* Mobile - 0rem and up */
@media only screen and (min-width: 0rem) {
    #sbsr-522 {
    position: relative;
    z-index: 1;
    background-color: #ffffff;
    padding: var(--sectionPadding); /* Keeping the existing padding */
}

#sbsr-522:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
    background-repeat: repeat;
    background-size: auto;
    filter: blur(1px); /* Apply the 1px blur */
    z-index: -1;
    opacity: 1;
    pointer-events: none;
}

#sbsr-522:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-repeat: repeat;
    background-size: auto;
    filter: blur(1px); /* Apply the 1px blur */
    z-index: -1;
    opacity: 1;
    pointer-events: none;
}

    
    
    #sbsr-522 .cs-container {
        width: 100%;
        /* changes to 1280px at tablet */
        max-width: 34.375em; /* 550px */
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 60px */
        gap: clamp(3rem, 10vw, 3.75rem);
    }
    #sbsr-522 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        max-width: 33.875rem; /* 542px */
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }

    /* Subtitle Styling */
    #sbsr-522 .cs-subtitle {
        font-size: 1.25rem; /* Slightly larger than regular text */
        font-weight: 500 !important;   /* Slightly bolder */
        margin-bottom: 1rem; /* Add spacing below the subtitle */
    }

    #sbsr-522 .cs-text {
        margin-bottom: 1rem;
    }
    #sbsr-522 .cs-text:last-of-type {
        margin-bottom: 2rem;
    }
    #sbsr-522 .cs-ul {
        width: 80%;
        /* 32px - 36px */
        margin: 0 0 clamp(2rem, 4vw, 2.25rem) 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /* 24px - 32px */
        row-gap: clamp(1.5rem, 4vw, 2rem);
    }
    #sbsr-522 .cs-li {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        list-style: none;
        line-height: 1.5em;
        font-weight: 700;
        margin: 0;
        color: var(--headerColor);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;
    }
    #sbsr-522 .cs-icon {
    width: 48px; /* Increased size from 40px to 48px */
    height: 48px; /* Increased size from 40px to 48px */
    margin: 0; /* Keep the alignment consistent */
}

    #sbsr-522 .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #fff;
        min-width: 9.375rem; /* 150px */
        padding: 0 1.5rem;
        background-color: var(--primary);
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
    }
    #sbsr-522 .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0.25rem;
        transition: width 0.3s;
    }
    #sbsr-522 .cs-button-solid:hover:before {
        width: 100%;
    }
    #sbsr-522 .cs-button-solid:hover {
        color: #EC9C52; /* Change text color on hover */
    }
    #sbsr-522 .cs-image-group {
        width: 100%;
        max-width: 39.375rem; /* 630px */
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        /* 40px - 48px */
        row-gap: clamp(2.5rem, 6vw, 3rem);
        /* sends it to the top in the first position */
        order: -1;
    }
    #sbsr-522 .cs-stat-group {
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1rem;
    }
    #sbsr-522 .cs-stat {
        list-style: none;
        max-width: 14.375rem; /* 230px */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }
    #sbsr-522 .cs-number {
        /* 39px - 61px */
        font-size: clamp(2.4375rem, 5vw, 3.8125rem);
        line-height: 1.2em;
        font-weight: 900;
        color: #EC9C52;
    }
    #sbsr-522 .cs-desc {
        font-size: clamp(0.875rem, 1rem, 1.25rem);
        line-height: 1.5em;
        font-weight: 400;
        margin: 0;
        color: var(--bodyTextColor);
    }
    #sbsr-522 .cs-picture {
        width: 100%;
        /* 244px - 339px, changes clamp at tablet */
        height: clamp(14rem, 62vw, 21.1875rem);
        display: block;
        position: relative;
    }
    #sbsr-522 .cs-picture img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbsr-522 .cs-container {
        max-width: 80rem; /* 1280px */
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: nowrap; /* Prevent wrapping */
    }
    #sbsr-522 .cs-content {
        width: 45%; /* Adjusted to ensure sum <= 100% */
        max-width: 33.75rem; /* 540px */
    }
    #sbsr-522 .cs-image-group {
        width: 45%; /* Adjusted to ensure sum <= 100% */
        /* sends it to the right in the 2nd position */
        order: 2;
    }
    #sbsr-522 .cs-stat-group {
        justify-content: flex-start;
    }
    #sbsr-522 .cs-picture {
        /* 340px - 461px */
        height: clamp(21.25rem, 35vw, 28.8125rem);
    }

    /* Enhance the subtitle for larger screens */
    #sbsr-522 .cs-subtitle {
        font-size: 1.5rem; /* Larger font size for desktop */
        font-weight: 700;   /* Bold font weight */
    }
}

</style>


<!-- ============================================ -->
<!--                   How it Works                   -->
<!-- ============================================ -->

<section id="steps-1290">   
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <span class="cs-topper">How it Works</span>
                <h2 class="cs-title">It Couldn't be Easier</h2>
            </div>
            <!-- <p class="cs-text">
                We can help you design your project and develop a comprehensive plan to ensure that it meets your
                specific needs and requirements. Our team of architects and engineers will work closely with you to
                create a design that is both functional and aesthetically pleasing.
            </p> -->
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="/our-process#video-548" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                            srcset="/assets/svgs/order-confirm.svg">
                        <source media="(min-width: 601px)"
                            srcset="/assets/svgs/order-confirm.svg">
                        <img loading="lazy" decoding="async"
                            src="/assets/svgs/order-confirm.svg"
                            alt="cleaner" width="413" height="240" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">
                        <span class="cs-number">01</span>
                        Choose a Plan
                    </h3>
                    <p class="cs-item-text">
                        Our all-in-one packages provide everything you need to start your professional website. Message us which plan suits your business and begin with confidence.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/our-process#video-548" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                            srcset="/assets/svgs/setup.svg">
                        <source media="(min-width: 601px)"
                            srcset="/assets/svgs/setup.svg">
                        <img loading="lazy" decoding="async"
                            src="/assets/svgs/setup.svg"
                            alt="cleaner" width="413" height="240" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">
                        <span class="cs-number">02</span>
                        5 Minute Setup
                    </h3>
                    <p class="cs-item-text">
                        Once thats done, you’ll sign a simple contract, enter payment details and access your client portal. From there, just fill out a quick form, upload some photos and you’re good to go.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/our-process#video-548" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                            srcset="/assets/svgs/work.svg">
                        <source media="(min-width: 601px)"
                            srcset="/assets/svgs/work.svg">
                        <img loading="lazy" decoding="async"
                            src="/assets/svgs/work.svg"
                            alt="cleaner" width="413" height="240" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">
                        <span class="cs-number">03</span>
                        We'll Get to Work 
                    </h3>
                    <p class="cs-item-text">
                        Using our proven website models, we’ll craft a site that’s fast, secure, and built to leave a great first impression, designed to set your business apart.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/our-process#video-548" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                            srcset="/assets/svgs/launch.svg">
                        <source media="(min-width: 601px)"
                            srcset="/assets/svgs/launch.svg">
                        <img loading="lazy" decoding="async"
                            src=/assets/svgs/launch.svg"
                            alt="cleaner" width="413" height="240" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">
                        <span class="cs-number">04</span>
                        Launch Day Success!
                    </h3>
                    <p class="cs-item-text">
                        With your site live and optimized, you’re ready to attract customers and grow your business. Everything is in place to ensure your success from day one.







                    </p>
                </a>
            </li>
        </ul>
    </div>
    <picture class="cs-background">
        <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/waves2-crop.svg" alt="waves">
    </picture>
</section>
                                
<style>
    /*-- -------------------------- -->
   <---         How it Works           -->
   <--- -------------------------- -*/
   
   /* Mobile - 360px */
   @media only screen and (min-width: 0rem) {
       #steps-1290 {
           padding: var(--sectionPadding); /* Apply universal padding */
           position: relative;
           background-color: #f9f9f9;
       }
   
       #steps-1290 .cs-container {
           max-width: 80rem;
           width: 100%;
           margin: auto;
           display: flex;
           flex-direction: column;
           align-items: center;
           gap: clamp(3rem, 6vw, 4rem);
       }
   
       #steps-1290 .cs-content {
           width: 100%;
           display: flex;
           flex-direction: column;
           text-align: center;
           align-items: center;
       }
   
       #steps-1290 .cs-card-group {
           width: 100%;
           margin: 0;
           padding: 0;
           display: grid;
           grid-template-columns: repeat(12, 1fr);
           gap: clamp(1rem, 2.3vw, 1.25rem);
       }
   
       #steps-1290 .cs-item {
           list-style: none;
           background-color: #fff;
           grid-column: span 12;
           position: relative;
           z-index: 1;
           padding: 1rem;
           border-radius: 12px; /* Add border radius here */
           transition: box-shadow 0.3s, transform 0.3s;
       }
   
       #steps-1290 .cs-item:hover {
           transform: translateY(-0.4375rem);
       }
   
       #steps-1290 .cs-item:hover .cs-picture img {
           opacity: 0.3;
           transform: scale(1.1);
       }
   
       #steps-1290 .cs-item:hover .cs-h3 {
           color: #EC9C52;
       }
   
       #steps-1290 .cs-item::after {
           content: "";
           width: 1.25rem;
           height: 5rem;
           margin: 1rem auto;
           background-image: url(https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/arrow-orange.svg);
           background-position: center;
           background-size: contain;
           background-repeat: no-repeat;
           display: block;
           position: relative;
           z-index: 10;
       }
   
       #steps-1290 .cs-item:nth-of-type(2)::after {
           transform: scaleX(-1);
       }
   
       #steps-1290 .cs-item:last-of-type::after {
           display: none;
       }
   
       #steps-1290 .cs-link {
           text-decoration: none;
           display: block;
       }
   
       #steps-1290 .cs-picture {
           width: 100%;
           height: auto;
           min-height: 300px;
           margin: 0 0 0.75rem 0;
           background-color: transparent;
           border-radius: 12px; /* Add border radius to images as well */
           display: block;
           position: relative;
           z-index: 10;
           overflow: hidden;
       }
   
       #steps-1290 .cs-picture img {
           width: 100%;
           height: 100%;
           object-fit: contain;
           position: absolute;
           top: 0;
           left: 0;
           transition: transform 0.6s, opacity 0.3s;
       }
   
       #steps-1290 .cs-number {
           font-size: 1.25rem;
           font-weight: bold;
           width: 2.25rem;
           height: 2.25rem;
           margin: 0;
           padding: 0;
           color: #fff;
           background-color: var(--primary);
           border-radius: 50%;
           display: flex;
           justify-content: center;
           align-items: center;
       }
   
       #steps-1290 .cs-h3 {
           font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
           line-height: 1.2em;
           font-weight: 700;
           word-break: break-word;
           margin: 0 0 0.75rem 0;
           color: var(--headerColor);
           display: flex;
           justify-content: center;
           align-items: center;
           gap: 0.75rem;
           transition: color 0.3s;
       }
   
       #steps-1290 .cs-item-text {
           font-size: clamp(0.875rem, 1.5vw, 1rem);
           line-height: 1.5em;
           margin: 0;
           padding: 0.5rem;
           color: var(--bodyTextColor);
           text-align: center;
       }
   
       #steps-1290 .cs-background {
           z-index: -1;
           position: absolute;
           top: 0;
           right: 0;
           height: 25%;
           width: 100%;
           opacity: 0.5;
       }
   
       #steps-1290 .cs-background img {
           width: 100%;
           height: 100%;
           object-fit: cover;
           position: absolute;
           top: 0;
           left: 0;
       }
   }
   
   /* Tablet - 768px to 1024px (Only for Tablet) */
   @media only screen and (min-width: 48rem) and (max-width: 63rem) {
       #steps-1290 .cs-container {
           max-width: 80rem;
           gap: 4rem; /* Adjust gap between sections for better spacing */
       }
   
       #steps-1290 .cs-card-group {
           grid-template-columns: repeat(2, 1fr); /* Two columns for the steps */
           gap: 2rem; /* Space between cards */
       }
   
       #steps-1290 .cs-item {
           grid-column: span 1; /* Each item spans one column in the grid */
           text-align: center; /* Ensure text alignment remains consistent */
       }
   
       #steps-1290 .cs-item::after {
           display: none; /* Disable arrows for 2x2 layout */
       }
   }
   
   /* Desktop - 1024px and above */
   @media only screen and (min-width: 64rem) {
       #steps-1290 .cs-container {
           max-width: 80rem;
           gap: 6.25rem;
       }
   
       #steps-1290 .cs-card-group {
           grid-template-columns: repeat(4, 1fr); /* Four columns for the steps */
       }
   
       #steps-1290 .cs-item {
           grid-column: span 1;
       }
   
       #steps-1290 .cs-item::after {
           width: 7.5rem;
           height: 1.75rem;
           margin: 0;
           background-image: url(https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/arrow-orange-large.svg);
           position: absolute;
           bottom: -2.5rem;
           left: clamp(8.5rem, 18vw, 18.5rem);
       }
   
       #steps-1290 .cs-item:nth-of-type(2)::after {
           top: -3.75rem;
           transform: rotateX(180deg);
       }
   }
</style>

    


<!-- ============================================ -->
<!--                   Pricing                    -->
<!-- ============================================ -->

<section id="pricing-1260">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pricing</span>
            <h2 class="cs-title">Clear & Affordable Pricing</h2>
            <p class="cs-text">
                Our all-in-one packages provide everything you need for a professional, modern website; including design, development, hosting, edits, and ongoing support.
                <br> <br><span class="bold-30">30 Day Money Back Guarantee</span>
            </p>
            <a href="/contact" class="cs-button-solid">Contact Us</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-popular-tag">Recommended</span>
                <picture class="cs-picture">
                    <img class="cs-picture-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/badge.svg" alt="checkmark" width="44" height="44">
                </picture>
                <span class="cs-package">Standard</span>
                <span class="cs-price">
                    £140
                    <span class="cs-duration">/month</span>
                </span>
                <!-- <p class="cs-item-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida, ex in commodo euismod, justo nisi bibendum libero,
                </p> -->
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/round-check.svg" alt="checkmark" width="18" height="18">
                        Design & Development
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/round-check.svg" alt="checkmark" width="18" height="18">
                        5-Page Static Website
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/round-check.svg" alt="checkmark" width="18" height="18">
                        Unlimited Stock Images
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/round-check.svg" alt="checkmark" width="18" height="18">
                        On-Page Updates
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/round-check.svg" alt="checkmark" width="18" height="18">
                        Google Optimised On Page SEO
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/round-check.svg" alt="checkmark" width="18" height="18">
                        Google Business Profile Set Up
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/round-check.svg" alt="checkmark" width="18" height="18">
                        Domain, SSL certificate, and 1x Business Email - Domain Extra £20 Per Year
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/round-check.svg" alt="checkmark" width="18" height="18">
                        +£100 Fee Per Page After 5
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/round-check.svg" alt="checkmark" width="18" height="18">
                        Blog Included
                    </li>
                    
                </ul>
                <a href="/contact" class="cs-button-transparent">Get Started    </a>
            </li>
            <li class="cs-item cs-popular">
                <span class="cs-popular-tag">Recommended</span>
                <picture class="cs-picture">
                    <img class="cs-picture-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/badge.svg" alt="checkmark" width="44" height="44">
                </picture>
                <span class="cs-package">Premium</span>
                <span class="cs-price">
                    £180
                    <span class="cs-duration">/month</span>
                </span>
                <!-- <p class="cs-item-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida, ex in commodo euismod, justo nisi bibendum libero,
                </p> -->
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/round-check.svg" alt="checkmark" width="18" height="18">
                        Design & Development
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/round-check.svg" alt="checkmark" width="18" height="18">
                        8-Page Static Website
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/round-check.svg" alt="checkmark" width="18" height="18">
                        Unlimited Stock Images
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/round-check.svg" alt="checkmark" width="18" height="18">
                        On-Page Updates
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/round-check.svg" alt="checkmark" width="18" height="18">
                        Google Optimised On Page SEO
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/round-check.svg" alt="checkmark" width="18" height="18">
                        Google Business Profile Set Up
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/round-check.svg" alt="checkmark" width="18" height="18">
                        Domain, SSL certificate, and 1x Business Email - Domain Extra £20 Per Year
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/round-check.svg" alt="checkmark" width="18" height="18">
                        +£100 Fee Per Page After 8
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/round-check.svg" alt="checkmark" width="18" height="18">
                        Blog Included
                    </li>
                </ul>
                <a href="/contact" class="cs-button-transparent">Get Started</a>
            </li>
        </ul>
        <picture class="cs-waves-wrapper">
            <img class="cs-waves" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/svg-waves.svg" alt="waves" width="743" height="708">
        </picture>
    </div>
</section>
                                

<style>
    /*-- -------------------------- -->
<---          Pricing           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #pricing-1260 {
        padding: var(--sectionPadding);
        /* clips svg graphic from overflowing the section */
        overflow: hidden;
        position: relative;
        z-index: 1;
    }

    .bold-30 {

        font-weight: 700;
    }
    #pricing-1260 .cs-container {
        width: 100%;
        /* changes to 1280px at desktop */
        max-width: 34.375em;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px, changes to 20px at large desktop */
        gap: clamp(3rem, 6vw, 4rem);
        position: relative;
    }
    #pricing-1260 .cs-item:first-child .cs-li:last-child .cs-icon {
    filter: grayscale(80%) brightness(100%);
    
}

#pricing-1260 .cs-item:first-child .cs-li:last-child {
    opacity: 0.5;
}




    
    #pricing-1260 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        max-width: 40.1875rem;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }

    #pricing-1260 .cs-text {
        margin-bottom: 1rem;
    }
    #pricing-1260 .cs-text:last-of-type {
        margin-bottom: 2rem;
    }
    #pricing-1260 .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875em, 5.5vw, 3.5em);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #fff;
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: var(--primary);
        overflow: hidden;
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
    }
    #pricing-1260 .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
    }
    #pricing-1260 .cs-button-solid:hover:before {
        width: 100%;
    }
    #pricing-1260 .cs-card-group {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        /* prevents flexbox from squishing it */
        flex: none;
    }
    #pricing-1260 .cs-item {
        text-align: left;
        list-style: none;
        width: 100%;
        margin: 0;
        padding: 1.5rem 1.5rem;
        background-color: #fff;
        border: 1px solid #dad9e3;
        border-radius: 1.5rem 0 0 0;
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        position: relative;
        z-index: 1;
    }
    #pricing-1260 .cs-item.cs-popular {
        background-color: #ffffff;
        border-radius: 0 0 1.5rem 0;
        
    }
    #pricing-1260 .cs-item.cs-popular .cs-popular-tag {
        display: inline-flex;
    }
    #pricing-1260 .cs-item.cs-popular .cs-package,
    #pricing-1260 .cs-item.cs-popular .cs-price,
    #pricing-1260 .cs-item.cs-popular .cs-duration,
    #pricing-1260 .cs-item.cs-popular .cs-item-text,
    #pricing-1260 .cs-item.cs-popular .cs-li {
        color: var(--bodyTextColorWhite);
    }
    #pricing-1260 .cs-item.cs-popular .cs-item-text,
    #pricing-1260 .cs-item.cs-popular .cs-li {
        opacity: 0.8;
    }
    #pricing-1260 .cs-item.cs-popular .cs-icon {
        filter: none;
        opacity: 1;
    }
    #pricing-1260 .cs-item.cs-popular .cs-button-transparent {
        background-color: var(--primary);
        color: var(--bodyTextColorWhite);
        border: none;
        transition: color 0.3s;
    }
    #pricing-1260 .cs-item.cs-popular .cs-button-transparent:before {
        background-color: #fff;
    }
    #pricing-1260 .cs-item.cs-popular .cs-button-transparent:hover {
        color: var(--primary);
    }
    #pricing-1260 .cs-popular-tag {
        font-size: 0.875rem;
        line-height: 1.2em;
        text-align: center;
        width: auto;
        margin: 0;
        padding: 0.25rem 0.75rem;
        box-sizing: border-box;
        color: #ff9b7d;
        overflow: hidden;
        border-radius: 0.25rem;
        display: none;
        justify-content: center;
        align-items: center;
        position: absolute;
        /* same as cs-item padding top */
        top: 1.5rem;
        right: 1.5rem;
        z-index: 1;
    }
    #pricing-1260 .cs-popular-tag:before {
        /* background color overlay */
        content: "";
        width: 100%;
        height: 100%;
        background: var(--primary);
        opacity: 0.16;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: -1;
    }
    #pricing-1260 .cs-picture {
        width: 4.75rem;
        height: 4.75rem;
        margin-bottom: 1.5rem;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    #pricing-1260 .cs-picture:before {
        /* background color */
        content: "";
        width: 100%;
        height: 100%;
        background: var(--primary);
        opacity: 0.2;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
    }
    #pricing-1260 .cs-package {
        font-size: 1.25rem;
        line-height: 1.2em;
        text-align: inherit;
        font-weight: 700;
        margin: 0 0 0.5rem 0;
        color: var(--headerColor);
        display: block;
    }
    #pricing-1260 .cs-price {
        font-size: 2.4375rem;
        line-height: 1.2em;
        text-align: inherit;
        font-weight: 900;
        margin: 0 0 0.75rem;
        color: var(--headerColor);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;
    }
    #pricing-1260 .cs-duration {
        font-size: 0.875rem;
        line-height: 1.5em;
        font-weight: 400;
        margin: 0;
        color: var(--headerColor);
    }
    #pricing-1260 .cs-item-text {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        text-align: inherit;
        margin: 0 0 2rem;
        color: var(--bodyTextColor);
    }
    #pricing-1260 .cs-ul {
        margin: 0 0 2rem;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }
    #pricing-1260 .cs-li {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        list-style: none;
        line-height: 1.5em;
        width: 100%;
        margin: 0;
        padding: 0;
        color: var(--bodyTextColor);
        display: flex;
        justify-content: flex-start;
        /* push everything to the top so if the li goes to two lines the icon stays at the top */
        align-items: flex-start;
        gap: 0.5rem;
    }
    #pricing-1260 .cs-li.cs-disabled {
        opacity: 0.5;
    }
    #pricing-1260 .cs-li.cs-disabled .cs-icon {
        filter: grayscale(1) brightness(300%);
    }
    #pricing-1260 .cs-icon {
    filter: none;
    opacity: 1;
}


    #pricing-1260 .button-solid {
        width: 100%;
    }
    #pricing-1260 .cs-button-transparent {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: var(--primary);
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: transparent;
        border: 1px solid var(--primary);
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
        transition:
            color 0.3s,
            border-color 0.3s,
            background-color 0.3s;
    }
    #pricing-1260 .cs-button-transparent:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0.25rem;
        transition: width 0.3s;
    }
    #pricing-1260 .cs-button-transparent:hover {
        color: #fff;
        border-color: #000;
        background-color: #000;
    }
    #pricing-1260 .cs-button-transparent:hover:before {
        width: 100%;
    }
    #pricing-1260 .cs-waves-wrapper {
        width: 100vw;
        height: 60%;
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        z-index: -1;
        transform: translateX(-50%);
    }
    #pricing-1260 .cs-waves-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #pricing-1260 .cs-container {
        max-width: 80rem;
        /* remove the position so the svg waves wrapper can be positioned relative to the section container for tablet so it hugs the right edge of the screen. We set it back to relative at 1024px so it can then be positioned relative to the container again so it hugs the right edge of the container with the pricing cards */
        position: initial;
    }
    #pricing-1260 .cs-card-group {
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        flex-wrap: nowrap;
    }
    #pricing-1260 .cs-item {
        width: 50%;
        border-radius: 1.5rem 0 0 1.5rem;
    }
    #pricing-1260 .cs-item.cs-popular {
        border-radius: 0 1.5rem 1.5rem 0;
    }
    #pricing-1260 .cs-waves-wrapper {
        /* changes to 740px at large desktop */
        width: 55vw;
        height: 100%;
        left: auto;
        right: 0;
        bottom: auto;
        top: 0;
        transform: none;
    }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #pricing-1260 .cs-container {
        max-width: 80rem;
        position: relative;
        z-index: 1;
    }
    #pricing-1260 .cs-waves-wrapper {
        height: 140%;
        top: 50%;
        transform: translateY(-50%);
    }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #pricing-1260 .cs-container {
        flex-direction: row;
        justify-content: space-between;
        gap: 1.25rem;
    }
    #pricing-1260 .cs-card-group {
        width: 62%;
        max-width: 46.25rem;
    }
    #pricing-1260 .cs-waves-wrapper {
        max-width: 46.25rem;
        width: 100%;
    }
}
                                
</style>



<!-- ============================================ -->
<!--                     FAQ                      -->
<!-- ============================================ -->

<section id="faq-709">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://images.unsplash.com/photo-1521737711867-e3b97375f902?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://images.unsplash.com/photo-1521737711867-e3b97375f902?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
            <img loading="lazy" decoding="async" src="https://images.unsplash.com/photo-1521737711867-e3b97375f902?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="rocks" width="650" height="740" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Asked questions</span>
            <h2 class="cs-title">Frequently Asked Questions</h2>
            <ul class="cs-faq-group">
                <!-- Active class added as default -->
                <li class="cs-faq-item active">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Why True Sign Design?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        We offer an All-in-One Solution for Home & Local Businesses. A service that handles all things technical every month, so you can focus on your customers worry free. <br> <br>

                        Design, Development, Ongoing Support, Updates/Optimisation for Google, Online Hosting & Security, all inside of one monthly package.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Couldn't I just use a Site Builder like Wordpress?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        You could, just like buying a suit off the rack instead of going to a tailor. It might seem quicker and cheaper, but it often means settling for something that doesn’t quite work and constantly needs fixing. <br> <br>

                    At True Sign Design, we take the tailor-made approach. We Custom Code your website from scratch to match your business's style, showcase what makes you unique, and give you a professional online presence you can feel confident about.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What is Pagespeed Score? 
                        </span>
                    </button>
                    <p class="cs-item-p">
                        A Pagespeed score measures how fast and efficient your website is, rated from 0 to 100 by Google. Most site builders such as Wordpress land at around 40–50, while our custom sites consistently score between 90–100. <br> <br>

                        That means faster load times, better search rankings, and a smoother experience that keeps visitors engaged and helps your business grow.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Do You Offer a 30 Day Money Back Guarantee?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Yes you can request your money back for any reason within the first 30 days.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Can you give me a quick run down of how the subscription works?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        You’ll pay a small monthly fee, with a 6-month minimum commitment, then continue month-to-month. <br> <br> At 24 months, you'll gain ownership of the website. <br>Staying after 24 months allows us to continue with hosting, maintenance, and support every month and includes a free redesign.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            When Am I Eligible For A Redesign?
                        </span>
                    </button>
                    <p class="cs-item-p">
                       12 months after ownership grants you a free redesign. Keeping it fresh for your business and clients.
                    </p>
                </li>

                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Do You Offer E Commerce?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        We don't currently offer E-Commerce at this time, however we're looking to add this to our services in the future.

                        <br> <br>

                        Our main goal is to create high quality static sites to help local businesses grow and thrive.
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <img class="cs-graphic" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fswoosh.svg" alt="swoosh" width="361" height="487" aria-hidden="true">
</section>
                                

<style>
    /*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #faq-709 {
        position: relative;
        overflow: hidden;
        background-color: #f7f7f7;
    }
    #faq-709 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* 40px - 48px */
        gap: clamp(2.5rem, 5vw, 3rem);
    }
    #faq-709 .cs-content {
        text-align: left;
        max-width: 33.8125rem;
        /* move section padding to the cs-content so we can make the cs-picture full width */
        padding: var(--sectionPadding);
        padding-top: 0;
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
    }

    #faq-709 .cs-title {
        /* 20 characters wide including spaces */
        max-width: 20ch;
        margin: 0 0 1.5rem 0;
    }
    #faq-709 .cs-faq-group {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #faq-709 .cs-faq-item {
        list-style: none;
        width: 100%;
        border-bottom: 1px solid #e8e8e8;
        transition: border-bottom 0.3s;
    }
    #faq-709 .cs-faq-item.active {
        border-color: var(--primaryLight);
    }
    #faq-709 .cs-faq-item.active .cs-button {
        color: var(--primary);
    }
    #faq-709 .cs-faq-item.active .cs-button:before {
        background-color: var(--primaryLight);
        transform: rotate(315deg);
    }
    #faq-709 .cs-faq-item.active .cs-button:after {
        background-color: var(--primaryLight);
        transform: rotate(-315deg);
    }
    #faq-709 .cs-faq-item.active .cs-item-p {
        height: auto;
        /* 20px - 24px bottom */
        padding: 0 0 clamp(1rem, 2vw, 1.5rem) 0;
        opacity: 1;
    }
    #faq-709 .cs-button {
        /* 16px - 20px */
        font-size: clamp(1rem, 2vw, 1.25rem);
        line-height: 1.2em;
        text-align: left;
        font-weight: bold;
        /* 16px - 24px */
        padding: clamp(1rem, 2.3vw, 1.5rem) 0;
        border: none;
        background: transparent;
        color: var(--headerColor);
        display: block;
        width: 100%;
        position: relative;
        transition:
            background-color 0.3s,
            color 0.3s;
    }
    #faq-709 .cs-button:hover {
        cursor: pointer;
    }
    #faq-709 .cs-button:before {
        /* left line */
        content: "";
        width: 0.5rem;
        height: 0.125rem;
        background-color: var(--headerColor);
        opacity: 1;
        border-radius: 50%;
        position: absolute;
        display: block;
        top: 45%;
        right: 0.25rem;
        transform: rotate(45deg);
        /* animate the transform from the left side of the x axis, and the center of the y */
        transform-origin: left center;
        transition: transform 0.5s;
    }
    #faq-709 .cs-button:after {
        /* right line */
        content: "";
        width: 0.5rem;
        height: 0.125rem;
        background-color: var(--headerColor);
        opacity: 1;
        border-radius: 50%;
        position: absolute;
        display: block;
        top: 45%;
        right: 0.0625rem;
        transform: rotate(-45deg);
        /* animate the transform from the right side of the x axis, and the center of the y */
        transform-origin: right center;
        transition: transform 0.5s;
    }
    #faq-709 .cs-button-text {
        width: 90%;
        display: block;
    }
    #faq-709 .cs-item-p {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        width: 90%;
        max-width: 33.8125rem;
        height: 0;
        margin: 0;
        padding: 0;
        opacity: 0;
        color: var(--bodyTextColor);
        /* clips the text so it doesn't show up */
        overflow: hidden;
        transition:
            opacity 0.3s,
            padding-bottom 0.3s;
    }
    #faq-709 .cs-graphic {
        width: 22.5625rem;
        height: auto;
        opacity: 0.5;
        display: none;
        position: absolute;
        left: -11.25rem;
        bottom: 1.875rem;
        /* flips it horizontally */
        transform: scaleX(-1);
    }
    #faq-709 .cs-picture {
        display: block;
        position: relative;
        width: 100%;
        height: 16rem;
        z-index: 1;
    }
    #faq-709 .cs-picture img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #faq-709 {
        /* moved seciton padding back to the section */
        padding: var(--sectionPadding);
    }
    #faq-709 .cs-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    #faq-709 .cs-picture {
        width: 50%;
        max-width: 40.625rem;
        /* 500px - 750px */
        height: clamp(31.25rem, 68vw, 46.875rem);
        /* sends it to the right in the 2nd position */
        order: 2;
    }
    #faq-709 .cs-content {
        width: 55%;
        padding: 0;
    }
}
/* Desktop - 1600px */
@media only screen and (min-width: 100rem) {
    #faq-709 .cs-graphic {
        display: block;
    }
}
                                
</style>

<script>
    function initializeFAQ() {
        const faqItems = Array.from(document.querySelectorAll('.cs-faq-item'));

        faqItems.forEach((item) => {
            const onClick = () => {
                item.classList.toggle('active');
            };

            // Remove any existing event listeners to prevent duplicates
            item.removeEventListener('click', item._onClick);
            item._onClick = onClick; // Store reference for future removal
            item.addEventListener('click', onClick);
        });
    }

    // Initialize on first load
    document.addEventListener("DOMContentLoaded", initializeFAQ);

    // Reinitialize when navigating (for SPA frameworks)
    document.addEventListener('astro:after-swap', initializeFAQ);
</script>




<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-727">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Our Customer Reviews</h2>
            <!-- <p class="cs-text">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.
            </p> -->
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/yellow-quote.svg" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
                <h3 class="cs-h3">Cleaning Services</h3>
                <p class="cs-item-text">
                    True Sign Design made the whole process simple. The monthly pricing works perfectly for my budget, and the site turned out great. Would highly recommend!
                </p>
                <span class="cs-name">Hannah Caldwell</span>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/yellow-quote.svg" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
                <h3 class="cs-h3">Roofing Specialist</h3>
                <p class="cs-item-text">
                    They created a solid website that’s already helping me grow. The process was simple and hassle-free and I've recommended them to some friends. <br> <br>
                </p>
                <span class="cs-name">Daniel Hamilton</span>
            </li>
        </ul>
    </div>
</section>
                                

<style>
    /*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-727 {
        padding: var(--sectionPadding);
    }
    #reviews-727 .cs-container {
        width: 100%;
        /* changes to 1280px at tablet */
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #reviews-727 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }

    #reviews-727 .cs-title {
        /* cs-title override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This second cs-title is a section specific override that stays inside this stitch */
        max-width: 20ch;
    }
    #reviews-727 .cs-card-group {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.25rem;
    }
    #reviews-727 .cs-item {
        list-style: none;
        width: 100%;
        margin: 0;
        /* 32px - 48px top & bottom */
        /* 16px - 32px left & right */
        padding: clamp(2rem, 7vw, 3rem) clamp(1rem, 4vw, 2rem);
        /* makes padding not affect height and width */
        box-sizing: border-box;
        background-color: #f0f0f0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 2rem;
    }
    #reviews-727 .cs-icon {
        /* 30px - 40px */
        width: clamp(1.875rem, 4vw, 2.5rem);
        height: auto;
        margin: 0 0 2rem 0;
        display: block;
    }
    #reviews-727 .cs-h3 {
        /* 20px - 25px */
        font-size: clamp(1.25rem, 4vw, 1.5625rem);
        line-height: 1.2em;
        font-weight: 700;
        margin: 0 0 1.5rem 0;
        color: var(--headerColor);
    }
    #reviews-727 .cs-item-text {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 4vw, 1rem);
        line-height: 1.5em;
        margin: 0 0 3rem 0;
        color: var(--bodyTextColor);
    }
    #reviews-727 .cs-name {
        font-size: 1.25rem;
        line-height: 1.2em;
        font-weight: 500;
        margin: auto 0 0 0;
        color: var(--headerColor);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;
        position: relative;
    }
    #reviews-727 .cs-name:before {
        content: "";
        width: 0.5rem;
        height: 1px;
        background: currentColor;
        display: block;
        position: relative;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-727 .cs-container {
        max-width: 80rem;
    }
    #reviews-727 .cs-card-group {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    #reviews-727 .cs-item {
        width: 48.5%;
    }
}

                                
</style>


<CTA />
</BaseLayout>







