
---
const currentPath = Astro.url.pathname;
import navData from "../data/navDatadash2.json";
---

<header id="cs-navigation">
    <div class="cs-container">
        <!--Nav Logo-->
        <a href="/" class="cs-logo" aria-label="back to home">
            <img src="/assets/svgs/trusignlogo-original.svg" alt="logo" width="210" height="29" aria-hidden="true" decoding="async">
        </a>
        <!--Navigation List-->
        <nav class="cs-nav" role="navigation">
            <!--Mobile Nav Toggle-->
            <button class="cs-toggle" aria-label="mobile menu toggle">
                <div class="cs-box" aria-hidden="true">
                    <span class="cs-line cs-line1" aria-hidden="true"></span>
                    <span class="cs-line cs-line2" aria-hidden="true"></span>
                    <span class="cs-line cs-line3" aria-hidden="true"></span>
                </div>
            </button>
            <!--Navigation Items-->
            <div class="cs-ul-wrapper">
                <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
                    <li class="cs-li">
                        <a href="/dashboard" class={`cs-li-link ${currentPath === '/login' ? 'cs-active' : ''}`}>Dashboard</a>

                    </li>
                <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
                    <li class="cs-li">
                        <a href="/login" class={`cs-li-link ${currentPath === '/login' ? 'cs-active' : ''}`}>Log Out</a>

                    </li>
                    
                    <!-- <li class="cs-li">
                        <a href="/reviews/" class={`cs-li-link ${currentPath === '/reviews/' ? 'cs-active' : ''}`}>Reviews</a>
                    </li> -->
                    <!-- <li class="cs-li mobile-only">
                        <a href="/contact/" class={`cs-li-link ${currentPath === '/contact/' ? 'cs-active' : ''}`}>Contact</a>
                    </li> -->
                    <li class="cs-li">
                        <!-- Additional items if needed -->
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Contact Us Button for Desktop -->
        <!-- <a href="/contact/" class="cs-button-solid cs-nav-button desktop-only">Contact Us</a> -->
    </div>
</header>







                            

<style>
/*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/

body,
html {
  /* reset margin and padding so there's no gap between the nav and the screen edges */
  margin: 0;
  padding: 0;
}



/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
  body.cs-open {
      overflow: hidden;
  }
  #cs-navigation {
      width: 100%;
      padding: 1.25rem 1rem;
      box-sizing: border-box;
      background-color: white; /* Changed from transparent to white */
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      position: absolute;
      z-index: 10000;
  }
  #cs-navigation:before {
      content: "";
      width: 100%;
      height: 0vh;
      background: transparent;
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      position: absolute;
      display: block;
      top: 100%;
      right: 0;
      z-index: -1100;
      opacity: 0;
      transition:
          height 0.5s,
          opacity 0.5s;
  }
  #cs-navigation.cs-active:before {
      height: 150vh;
      opacity: 1;
  }
  #cs-navigation.cs-active .cs-ul-wrapper {
      opacity: 1;
      transform: scaleY(1);
      transition-delay: 0.15s;
  }
  #cs-navigation.cs-active .cs-li {
      transform: translateY(0);
      opacity: 1;
  }
  #cs-navigation .cs-container {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
  }
  #cs-navigation .cs-logo {
      width: 40%;
      max-width: 9.125rem;
      height: 100%;
      margin: 0 auto 0 0;
      padding: 0;
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
  }
  #cs-navigation .cs-logo img {
      width: 100%;
      height: 100%;
      /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
      object-fit: contain;
  }
  #cs-navigation .cs-toggle {
      width: 3.5rem;
      height: 3.5rem;
      margin: 0 0 0 auto;
      border-radius: 0.25rem;
      background-color: var(--primary);
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  #cs-navigation .cs-active .cs-line1 {
      top: 50%;
      transform: translate(-50%, -50%) rotate(225deg);
  }
  #cs-navigation .cs-active .cs-line2 {
      top: 50%;
      transform-origin: center;
      transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
  }
  #cs-navigation .cs-active .cs-line3 {
      bottom: 100%;
      opacity: 0;
  }
  #cs-navigation .cs-box {
      /* 24px - 28px */
      width: clamp(1.5rem, 2vw, 1.75rem);
      height: 1rem;
      position: relative;
  }
  #cs-navigation .cs-line {
      width: 100%;
      height: 2px;
      border-radius: 2px;
      background-color: #fafbfc;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
  }
  #cs-navigation .cs-line1 {
      top: 0;
      transform-origin: center;
      transition:
          transform 0.5s,
          top 0.3s,
          left 0.3s;
      animation-duration: 0.7s;
      animation-timing-function: ease;
      animation-fill-mode: forwards;
      animation-direction: normal;
  }
  #cs-navigation .cs-line2 {
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      transition:
          top 0.3s,
          left 0.3s,
          transform 0.5s;
      animation-duration: 0.7s;
      animation-timing-function: ease;
      animation-fill-mode: forwards;
      animation-direction: normal;
  }
  #cs-navigation .cs-line3 {
      bottom: 0;
      transition:
          bottom 0.3s,
          opacity 0.3s;
  }
  #cs-navigation .cs-ul-wrapper {
      width: 100%;
      height: auto;
      padding-bottom: 2.4em;
      opacity: 0;
      background-color: #fff;
      box-shadow: inset rgba(0, 0, 0, 0.2) 0px 8px 24px;
      overflow: hidden;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: -1;
      transform: scaleY(0);
      transform-origin: top;
      transition:
          transform 0.4s,
          opacity 0.3s;
  }
  #cs-navigation .cs-ul {
      margin: 0;
      padding: 3rem 0 0 0;
      width: 100%;
      height: auto;
      max-height: 65vh;
      overflow: scroll;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;
      gap: 1.25rem;
  }
  #cs-navigation .cs-li {
      width: 100%;
      text-align: center;
      list-style: none;
      margin-right: 0;
      /* transition from these values */
      transform: translateY(-4.375rem);
      opacity: 0;
      transition:
          transform 0.6s,
          opacity 0.9s;
  }
  #cs-navigation .cs-li:nth-of-type(1) {
      transition-delay: 0.05s;
  }
  #cs-navigation .cs-li:nth-of-type(2) {
      transition-delay: 0.1s;
  }
  #cs-navigation .cs-li:nth-of-type(3) {
      transition-delay: 0.15s;
  }
  #cs-navigation .cs-li:nth-of-type(4) {
      transition-delay: 0.2s;
  }
  #cs-navigation .cs-li:nth-of-type(5) {
      transition-delay: 0.25s;
  }
  #cs-navigation .cs-li:nth-of-type(6) {
      transition-delay: 0.3s;
  }
  #cs-navigation .cs-li:nth-of-type(7) {
      transition-delay: 0.35s;
  }
  #cs-navigation .cs-li:nth-of-type(8) {
      transition-delay: 0.4s;
  }
  #cs-navigation .cs-li:nth-of-type(9) {
      transition-delay: 0.45s;
  }
  #cs-navigation .cs-li:nth-of-type(10) {
      transition-delay: 0.5s;
  }
  #cs-navigation .cs-li:nth-of-type(11) {
      transition-delay: 0.55s;
  }
  #cs-navigation .cs-li:nth-of-type(12) {
      transition-delay: 0.6s;
  }
  #cs-navigation .cs-li:nth-of-type(13) {
      transition-delay: 0.65s;
  }
  #cs-navigation .cs-li-link {
      /* 16px - 24px */
      font-size: clamp(1rem, 2.5vw, 1.5rem);
      line-height: 1.2em;
      text-decoration: none;
      margin: 0;
      color: var(--headerColor);
      display: inline-block;
      position: relative;
  }
  #cs-navigation .cs-li-link.cs-active {
      color: var(--primary);
  }
  #cs-navigation .cs-li-link:hover {
      color: var(--primary);
  }
  #cs-navigation .cs-button-solid {
      display: none;
      
  }
}

/*-- -------------------------- -->
<---     Desktop Navigation     -->
<--- -------------------------- -*/

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #cs-navigation {
      width: 100%;
      padding: 0 1rem;
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      background-color: transparent;
      position: absolute;
      z-index: 10000;
  }
  #cs-navigation .cs-container {
      width: 100%;
      /* same height as the cs-ul-wrapper */
      height: 5.8125rem;
      max-width: 80rem;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  #cs-navigation .cs-toggle {
      display: none;
  }
  #cs-navigation .cs-logo {
      width: 12.5%;
      max-width: 21.875rem;
      height: 5rem;
      margin: 0 auto 0 0;
      padding: 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      z-index: 100;
  }
  #cs-navigation .cs-logo img {
      width: 100%;
      height: 100%;
      object-fit: contain;
  }
  #cs-navigation .cs-ul-wrapper {
      margin-left: auto;
  }
  #cs-navigation .cs-ul {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: clamp(1.25rem, 2.6vw, 2.25rem);
  }
  #cs-navigation .cs-li {
      list-style: none;
      padding: 2.25rem 0;
      flex: none;
  }
  #cs-navigation .cs-li-link {
      font-size: clamp(0.875rem, 0.6vw, 1rem);
      line-height: 1.5em;
      text-decoration: none;
      text-transform: uppercase;
      margin: 0;
      color: var(--bodyTextColorWhite);
      display: block;
      position: relative;
      transition: color 0.3s;
  }
  #cs-navigation .cs-li-link:hover {
      color: var(--primary);
  }
  #cs-navigation .cs-li-link.cs-active {
      color: var(--primary);
  }

  /* New CSS for mobile and desktop Contact visibility */
@media only screen and (max-width: 63.9375rem) {
  .cs-button-solid.cs-nav-button {
      display: none;
  }
}

@media only screen and (min-width: 64rem) {
  .cs-li.mobile-only {
      display: none;
  }
}

@media only screen and (min-width: 64rem) {
/* Default white background for all pages */
#cs-navigation {
  background-color: white;
}

/* Transparent background for Home page */
body.home #cs-navigation {
  background-color: transparent;
}  
  }
}


</style>


